<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<!-- <p style="margin-bottom: 25px;">Welcome, !</p> -->
<p style="margin-bottom: 25px;">You're almost ready to get started. Just click the button below to confirm the email address for your account:</p>
<div style="margin-bottom: 25px; text-align: center;">

</div>

<p style="margin-bottom: 5px;">Sincerely,</p>
<p style="margin-top: 0px;">The NEW_APP_NAME Team</p>