.App {
  height: 100vh;
  min-height: 100vh;
}

p {
  margin: 0;
  padding: 0;
}

.container-fluid {
  height: 100vh;
}

.col_1, .col_2, .col_3 {
  height: 100vh;
  margin: 0;
}

.col_1 {
  background: aqua;
}

.col_2 {
  background: white;
}

.app_header {
  text-align: center;
}

.app_name {
  margin: 10px auto;
}